body {
  background-color: #EEE;
  font-family: "Montserrat", sans-serif;
}

li {
  cursor: pointer;
}

h3 {
  border-bottom: 5px solid #ddd;
}

.header {
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.img {
  width: 350px;
}

.label {
  border-radius: 5px;
  padding: 10px 0;
  background-color: white;
  margin-top: 20px;
}

.buttonsLabel {
  margin-top: 20px;
  padding:0 10px;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  min-height: 60px;
  line-height: 60px;
}

.custom {
  margin-left: 13px;
}

.legend {
  margin-top: 20px;
  padding: 10px 0;
}

#active {
  background-color: blueviolet !important;
  border-color: blueviolet !important;
  color: white;
}



@media screen and (max-width:1200px) {
  .buttonsLabel {
    width: 100%;
  }

  .img{
    margin-left: -30px;
  }

  .custom {
    width: 50%;
    margin-left: 25%;
  }
}

@media screen and (max-width: 992px) {
  .custom {
    width: 100%;
    margin-left: 0;
  }
  .img{
    margin-left: 175px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .img {
    width: 350px;
    /* margin-left:80px; */
  }
  .custom {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 570px) {
  .img {
    width:300px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 376px) {
  .img{
    width: 250px;
  }
}
